body {
    background-color: rgb(57, 35, 35);
    color:bisque;
}

.container {
    
    flex-direction: row;
    justify-content:space-around;
    align-content: space-between;
    align-items: center;
    width: 100%;
   
}

td {
    border: 1px solid rgb(5, 5, 5);
    width: 300px;
    justify-content: center;
    text-align: center; 
}
th {
    border: 2px solid rgb(201, 192, 243);
    width: 400px; 
    justify-content: center;
    text-align: center;
}


.solo_uno {
    background-color: rgb(160, 12, 12);
    border: 3px solid rgb(151, 81, 24);
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 1200px;
    height: 400px;
    color:rgb(33, 1, 92);
    font-size: 30px;
       
}

td img {
    border-radius: 50%;
    border: 1px solid rgb(2, 71, 175);
    padding: 5px;
    width: 120px;
}
img {
    border-radius: 50%;
    border: 1px solid rgb(2, 71, 175);
    padding: 5px;
    width: 330px;
}

img:hover {
box-shadow: 0 0 2px 1px rgba(250, 246, 2, 0.897);
}

button {
        background: rgb(87, 8, 8); 
        color: #09090c; 
        border: 2px solid #4741d7; 
        padding: 16px 20px;
        border-radius: 3px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;
      }
button:hover {
    color: rgb(194, 14, 14); /* color de fuente hover */
      }
button::after {
        content: "";
        background: #4741d7; /* color de fondo hover */
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        top: 0;
        bottom: 0;
        left: 100%;
        right: -100%;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
      }
button:hover:after {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
      
}